<div class="user-show-page">
  <%= render "partial/navbar" %>
  <div class="profile mt-4">
    <% if @user.profile_image.url.nil? %>
      
    <% else %>
      <%= image_tag @user.profile_image.url, class: "profile-img" %>
    <% end %>
    
    <div class="profile-name mt-4">
      <%= @user.name %>
    </div>
  </div>
  <% if current_user.id == @user.id %>
    <div class="user-action">
      <div class="user-action-common">
        <%= link_to destroy_user_session_path, method: :delete do %>
          <i class="fas fa-sign-out-alt fa-2x"></i>
        <span>ログアウト</span>
        <% end %>
      </div>
      <div class="user-action-common">
        <%= link_to edit_user_registration_path do %>
          <i class="fas fa-cog fa-2x"></i>
        <span>プロフィール編集</span>
        <% end %>
      </div>
      <div class="user-action-common">
        <%= link_to posts_new_path, class: "nav-item nav-link" do %>
          <i class="fas fa-camera fa-2x"></i>
        <span>写真を追加</span>
        <% end %>
      </div>
    </div>
  <% end %>
</div>